<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/mvp.css">
<html lang="en">
    <head style="text-align: center">
        <title>GrabCutWeb</title>
    </head>
    <body style="text-align: center">
        <h1>GrabCutWeb</h1>
        <p>This is a tool for showcasing grabcut functionality.</p>
        <p>Please upload an image.</p>
        <p>Note that large images may be difficult to process. Max file size: 2MB.</p>
        <form style="text-align: center; margin: 0 auto; width: 250px;" method="post" enctype="multipart/form-data">
            <p style="text-align: center"><input style="text-align: center" type="file" name="file">
               <input style="text-align: center" type="submit" name="upload" value="Upload">
        </form>
    </body>
    <footer style="text-align: center">
        <div>
            <p style="color: white">Created by Davis Cheung - </p><a style="color: white" href="https://davischeung.com">davischeung.com</a>
            <p><a style="color: white" href="https://github.com/DavisCheung/GrabCutUI/">Repository</a></p>
        </div>
    </footer>
</html>