<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/mvp.css">
<html lang="en">
    <head>
        <title>GrabCutWeb</title>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="../static/selection.js"></script>
    </head>
    <body>
        <h1>GrabCutWeb</h1>
        <p>After making your selection, please press [Process Image]</p>
        <p>Note that it may take a moment to process the image</p>
        <div class="imgPreview">
            <div>
                <canvas id="selection" class="data:image/png;base64,{{ img_data }}" width="{{imgwidth}}" height="{{imgheight}}"></canvas>
                <img src="data:image/png;base64,{{ out_data }}" alt="output" id="output">
            </div>
        </div>
        <div>
            <button><a class="btn" style="color: black" onclick=returnSelection()>Process Image</a></button>
            <button><a class="btn" style="color: black" href="/download">Download</a></button>
        </div>
    </body>
</html>