<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/mvp.css">
<html lang="en">
    <head style="text-align: center">
        <title>GrabCutWeb</title>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="../static/selection.js"></script>
    </head>
    <body style="text-align: center">
        <h1>GrabCutWeb</h1>
        <p>After making your selection, please press [Process Image]</p>
        <p>Larger images may take a long time to process</p>
        <div class="imgPreview">
            <div style="text-align: center">
                <canvas id="selection" class="data:image/png;base64,{{ img_data }}" style="max-width: 600px"  width="{{imgwidth}}" height="{{imgheight}}"></canvas>
                <img src="data:image/png;base64,{{ out_data }}" style="max-width: 600px" alt="output" id="output">
            </div>
        </div>
        <div>
            <a><button class="btn" style="color: black" onclick=returnSelection()>Process Image</button></a>
            <a href="/download"><button class="btn" style="color: black">Download</button></a>
        </div>
    </body>
    <footer style="text-align: center">
        <div>
            <p style="color: white">Created by Davis Cheung - </p><a style="color: white" href="https://davischeung.com">davischeung.com</a>
            <p><a style="color: white" href="https://github.com/DavisCheung/GrabCutUI/">Repository</a></p>
        </div>
    </footer>
</html>